// $main-bg-color: #919890;
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}

article {
  margin: 60px;
  display: block;
  @media screen and (max-width: 500px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  position: relative;
}

.page-header__heading p {
  margin-bottom: 0px;
  font-size: 55px;
  letter-spacing: -1px;
  line-height: .9;
  text-transform: uppercase;
  font-family: Montserrat, helvetica,arial,sans-serif;
}

.page-header__nav {
  position: absolute;
  bottom: 0;
  right: 0;

  @media screen and (max-width: 900px) {
    position: relative;
    margin-top: 0px;
  }
}

.page_header__link {
  font-size: 20px;
  margin-right: 10px;
  font-family: Montserrat, helvetica,arial,sans-serif;
  color: black;
}

.page_header__link:hover {
  color: rgb(0, 107, 178);
}
