@import "../../../styles/base.scss";

.section--about,
.section--experience,
.section--music,
.section--contact {
  margin-top: 80px;
}

.section--about__body,
.section--experience__body,
.section--music__body,
.section--contact__link {
  font-size: 25px;
  font-family: Montserrat, helvetica,arial,sans-serif;
}

.section--about__body p,
.section--experience__body p,
.section--music__body p {
  margin-top: 20px;
  margin-bottom: 0px;
}

.section--about__header,
.section--experience__header,
.section--music__header,
.section--contact__header {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: .9;
  font-family: Montserrat, helvetica,arial,sans-serif;
}

.section--image__body {
  right: 0;
  position: absolute;
  margin: 0;
}

.section--image__body p {
  line-height: 0;
}

#section--image {
  position: relative;
  text-align: center;
}

#section--image img {
  display: block;
  margin-top: 80px;
  width: 100%;
  height: auto;
}

.section--contact__link {
  margin-right: 30px;
}
